/*#2f997b;*/
body.kcBodyClass {
    background: #fff;
}

#kc-header-wrapper.kcHeaderClass {
background: url(../Assets/img/emma.png) no-repeat center center fixed;
}


#kc-login.kcButtonClass {
    background-color: #2f997b;
}
